
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #216fbd;
  color: #ffffff;
  padding: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span {
  font-weight: normal;
  color: #2bbbad;
}

.navbar {
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 1rem;
  font-size: 1rem;
}
.navbar a:hover{
  color:rgb(0, 255, 136);
}

.icons {
  display: flex;
  align-items: center;
}

.icons div {
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: #ffffff;
}

.message {
  background-color: #d9534f;
  color: #ffffff;
  padding: 0.5rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.message span {
  flex: 1;
  margin-right: 1rem;
}

.message i {
  cursor: pointer;
  font-size: 1rem;
}

.message i:hover {
  color: #ffffff;
}

/* Admin Panel styles */
.DASHBOARD {
  padding: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #343a40;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.box {
  flex: 1;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.box h3 {
  font-size: 2rem;
  color: #343a40;
}

.box p {
  color: #6c757d;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.add-products, .show-products, .edit-product-form {
  background-color: #fff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  color: #333;
}

.btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.box {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}

.box img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.name, .price {
  margin-bottom: 5px;
}

.option-btn, .delete-btn {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.option-btn {
  background-color: #27ae60;
}

.delete-btn {
  background-color: #e74c3c;
}

.edit-product-form {
  display: none;
}

.empty {
  color: #777;
  text-align: center;
  width: 100%;
}